In [1]:
!pip install yfinance newsapi-python openai==0.28

Collecting yfinance
  Downloading yfinance-0.2.32-py2.py3-none-any.whl (68 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.0/69.0 kB 622.3 kB/s eta 0:00:00a 0:00:01
Collecting newsapi-python
  Downloading newsapi_python-0.2.7-py2.py3-none-any.whl (7.9 kB)
Collecting openai==0.28
  Downloading openai-0.28.0-py3-none-any.whl (76 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.5/76.5 kB 573.2 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: requests>=2.20 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from openai==0.28) (2.28.2)
Requirement already satisfied: tqdm in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from openai==0.28) (4.65.2)
Requirement already satisfied: aiohttp in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from openai==0.28) (3.8.4)
Collecting requests>=2.20
  Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Collecting appdirs>=1.4.4
  Using cached appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from yfinance) (4.12.2)
Collecting html5lib>=1.1
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: lxml>=4.9.1 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: pandas>=1.3.0 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from yfinance) (1.5.3)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.9-cp310-cp310-macosx_11_0_arm64.whl (36 kB)
Requirement already satisfied: pytz>=2022.5 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from yfinance) (2023.3.post1)
Collecting peewee>=3.16.2
  Downloading peewee-3.17.0.tar.gz (2.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 920.4 kB/s eta 0:00:0000:0100:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: numpy>=1.16.5 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from yfinance) (1.24.3)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: soupsieve>1.2 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: six>=1.9 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from requests>=2.20->openai==0.28) (2023.7.22)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from requests>=2.20->openai==0.28) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from requests>=2.20->openai==0.28) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from requests>=2.20->openai==0.28) (1.26.14)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from aiohttp->openai==0.28) (1.9.2)
Requirement already satisfied: aiosignal>=1.1.2 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from aiohttp->openai==0.28) (1.3.1)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from aiohttp->openai==0.28) (4.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from aiohttp->openai==0.28) (1.3.3)
Requirement already satisfied: attrs>=17.3.0 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from aiohttp->openai==0.28) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/mdaniyalk/miniforge3/lib/python3.10/site-packages (from aiohttp->openai==0.28) (6.0.4)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml) ... done
  Created wheel for peewee: filename=peewee-3.17.0-cp310-cp310-macosx_11_0_arm64.whl size=247639 sha256=580055858a0946a5c92416fa48d55659422404ba7f696e2e4df9f28f34a92ba3
  Stored in directory: /Users/mdaniyalk/Library/Caches/pip/wheels/c7/70/ad/212867e96e7004265a69c4aa5dcff00a95f547a67ba26e7e76
Successfully built peewee
Installing collected packages: peewee, multitasking, appdirs, requests, html5lib, frozendict, newsapi-python, yfinance, openai
  Attempting uninstall: requests
    Found existing installation: requests 2.28.2
    Uninstalling requests-2.28.2:
      Successfully uninstalled requests-2.28.2
  Attempting uninstall: openai
    Found existing installation: openai 0.28.1
    Uninstalling openai-0.28.1:
      Successfully uninstalled openai-0.28.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ydata-profiling 4.5.1 requires numpy<1.24,>=1.16.0, but you have numpy 1.24.3 which is incompatible.
ray 2.3.1 requires grpcio<=1.49.1,>=1.42.0; python_version >= "3.10" and sys_platform == "darwin", but you have grpcio 1.59.0 which is incompatible.
openxlab 0.0.25 requires requests~=2.28.2, but you have requests 2.31.0 which is incompatible.
datasets 2.13.0 requires dill<0.3.7,>=0.3.0, but you have dill 0.3.7 which is incompatible.
autogluon-multimodal 0.8.2 requires accelerate<0.17,>=0.9, but you have accelerate 0.24.1 which is incompatible.
autogluon-multimodal 0.8.2 requires transformers[sentencepiece]<4.27.0,>=4.23.0, but you have transformers 4.35.2 which is incompatible.
Successfully installed appdirs-1.4.4 frozendict-2.3.9 html5lib-1.1 multitasking-0.0.11 newsapi-python-0.2.7 openai-0.28.0 peewee-3.17.0 requests-2.31.0 yfinance-0.2.32

In [26]:
import yfinance as yf


crude = yf.Ticker("CL=F")

eex = crude.history(period="1d", interval="1m")
eex

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-11-29 00:00:00-05:00,76.529999,76.529999,76.529999,76.529999,0,0.0,0.0
2023-11-29 00:01:00-05:00,76.540001,76.570000,76.540001,76.570000,61,0.0,0.0
2023-11-29 00:02:00-05:00,76.580002,76.589996,76.570000,76.570000,28,0.0,0.0
2023-11-29 00:03:00-05:00,76.570000,76.570000,76.559998,76.559998,42,0.0,0.0
2023-11-29 00:04:00-05:00,76.559998,76.580002,76.559998,76.580002,19,0.0,0.0
...,...,...,...,...,...,...,...
2023-11-29 04:24:00-05:00,76.639999,76.690002,76.629997,76.690002,59,0.0,0.0
2023-11-29 04:25:00-05:00,76.680000,76.690002,76.650002,76.660004,57,0.0,0.0
2023-11-29 04:26:00-05:00,76.680000,76.699997,76.660004,76.690002,66,0.0,0.0
2023-11-29 04:27:00-05:00,76.709999,76.739998,76.709999,76.709999,90,0.0,0.0
2023-11-29 04:28:00-05:00,76.720001,76.739998,76.690002,76.699997,0,0.0,0.0

In [29]:
eex['Close'][-1]

76.69999694824219

In [2]:
import yfinance as yf


crude = yf.Ticker("CL=F")

crude.history(period="7d", interval="1m")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-11-21 03:30:00-05:00,77.290001,77.309998,77.239998,77.300003,0,0.0,0.0
2023-11-21 03:31:00-05:00,77.309998,77.389999,77.309998,77.379997,262,0.0,0.0
2023-11-21 03:32:00-05:00,77.379997,77.459999,77.379997,77.400002,271,0.0,0.0
2023-11-21 03:33:00-05:00,77.389999,77.430000,77.370003,77.430000,122,0.0,0.0
2023-11-21 03:34:00-05:00,77.430000,77.440002,77.379997,77.400002,69,0.0,0.0
...,...,...,...,...,...,...,...
2023-11-29 01:10:00-05:00,76.510002,76.519997,76.500000,76.500000,15,0.0,0.0
2023-11-29 01:11:00-05:00,76.510002,76.510002,76.480003,76.489998,6,0.0,0.0
2023-11-29 01:12:00-05:00,76.480003,76.480003,76.480003,76.480003,1,0.0,0.0
2023-11-29 01:13:00-05:00,76.480003,76.480003,76.480003,76.480003,83,0.0,0.0
2023-11-29 01:14:00-05:00,76.480003,76.480003,76.470001,76.480003,0,0.0,0.0

In [4]:
out = crude.history(period="7d", interval="1m")
out

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-11-21 03:30:00-05:00,77.290001,77.309998,77.239998,77.300003,0,0.0,0.0
2023-11-21 03:31:00-05:00,77.309998,77.389999,77.309998,77.379997,262,0.0,0.0
2023-11-21 03:32:00-05:00,77.379997,77.459999,77.379997,77.400002,271,0.0,0.0
2023-11-21 03:33:00-05:00,77.389999,77.430000,77.370003,77.430000,122,0.0,0.0
2023-11-21 03:34:00-05:00,77.430000,77.440002,77.379997,77.400002,69,0.0,0.0
...,...,...,...,...,...,...,...
2023-11-29 01:13:00-05:00,76.480003,76.480003,76.480003,76.480003,83,0.0,0.0
2023-11-29 01:14:00-05:00,76.480003,76.480003,76.470001,76.480003,11,0.0,0.0
2023-11-29 01:15:00-05:00,76.480003,76.529999,76.480003,76.529999,45,0.0,0.0
2023-11-29 01:16:00-05:00,76.519997,76.540001,76.519997,76.540001,30,0.0,0.0
2023-11-29 01:17:00-05:00,76.550003,76.550003,76.529999,76.540001,0,0.0,0.0

In [17]:
out['Close'].to_numpy()

array([77.30000305, 77.37999725, 77.40000153, ..., 76.52999878,
       76.54000092, 76.54000092])

In [2]:
from newsapi import NewsApiClient

newsapi = NewsApiClient(api_key='65628cbd14f94af3bc3f57a7409299fa')

all_articles = newsapi.get_everything(q='war',
                                      sources='bbc-news,the-verge, new-york-times',
                                      domains='bbc.co.uk,techcrunch.com,nytimes.com',
                                      from_param='2023-10-29',
                                      to = '2023-11-29',
                                      language='en',
                                      sort_by='relevancy',
                                      page=1)

In [3]:
len([f"Title: {article['title']}\nDescription: {article['description']}" for article in all_articles['articles']])

100

In [35]:
all_articles = newsapi.get_everything(q='war',
                                      sources='bbc-news,the-verge, new-york-times',
                                      domains='bbc.co.uk,techcrunch.com,nytimes.com',
                                      from_param='2023-10-29',
                                      to = '2023-11-29',
                                      language='en',
                                      sort_by='relevancy',
                                      page=2)
len([f"Title: {article['title']}\nDescription: {article['description']}" for article in all_articles['articles']])

100

In [24]:
[article['publishedAt'] for article in all_articles['articles']]

['2023-11-16T12:55:34Z',
 '2023-11-08T12:26:55Z',
 '2023-11-20T06:02:07Z',
 '2023-11-16T05:09:00Z',
 '2023-11-10T15:18:30Z',
 '2023-11-15T18:03:27Z',
 '2023-11-26T00:21:31Z',
 '2023-11-07T05:16:43Z',
 '2023-11-06T07:45:25Z',
 '2023-11-19T00:50:58Z',
 '2023-11-07T07:35:22Z',
 '2023-11-18T00:33:29Z',
 '2023-11-06T17:18:42Z',
 '2023-11-15T11:32:32Z',
 '2023-11-14T14:09:19Z',
 '2023-11-05T18:35:02Z',
 '2023-11-09T19:55:35Z',
 '2023-11-01T16:23:37Z',
 '2023-11-27T16:02:15Z',
 '2023-11-04T20:10:18Z',
 '2023-11-13T15:27:47Z',
 '2023-11-08T23:57:23Z',
 '2023-11-17T18:45:10Z',
 '2023-11-06T16:11:57Z',
 '2023-11-06T17:29:13Z',
 '2023-11-11T10:15:53Z',
 '2023-11-05T16:15:21Z',
 '2023-11-07T22:00:00Z',
 '2023-11-14T14:52:19Z',
 '2023-11-08T16:57:33Z',
 '2023-11-18T00:22:57Z',
 '2023-11-19T13:49:02Z',
 '2023-11-25T10:10:45Z',
 '2023-11-08T15:56:27Z',
 '2023-11-17T00:30:42Z',
 '2023-11-23T22:57:04Z',
 '2023-11-06T00:33:47Z',
 '2023-11-14T16:12:43Z',
 '2023-11-21T07:51:43Z',
 '2023-11-16T20:48:51Z',
 '2023-11-06T15:47:04Z',
 '2023-11-15T15:20:49Z',
 '2023-11-13T06:57:54Z',
 '2023-11-12T01:44:43Z',
 '2023-11-01T04:45:12Z',
 '2023-11-07T09:26:51Z',
 '2023-11-15T06:00:01Z',
 '2023-11-13T12:22:38Z',
 '2023-11-17T05:58:57Z',
 '2023-11-03T00:31:06Z',
 '2023-11-03T01:34:18Z',
 '2023-11-09T18:57:24Z',
 '2023-11-22T12:28:36Z',
 '2023-11-25T15:55:08Z',
 '2023-11-08T11:24:33Z',
 '2023-11-09T07:13:14Z',
 '2023-11-17T13:15:23Z',
 '2023-11-20T04:41:36Z',
 '2023-11-08T10:19:15Z',
 '2023-11-19T00:52:15Z',
 '2023-11-23T06:00:31Z',
 '2023-11-25T00:23:33Z',
 '2023-11-03T14:31:03Z',
 '2023-11-15T12:59:28Z',
 '2023-11-14T01:04:49Z',
 '2023-11-22T21:52:12Z',
 '2023-11-03T15:49:50Z',
 '2023-11-07T19:23:33Z',
 '2023-11-08T17:05:48Z',
 '2023-11-17T18:41:27Z',
 '2023-11-27T21:35:06Z',
 '2023-11-08T21:21:27Z',
 '2023-11-02T00:07:51Z',
 '2023-11-17T15:15:00Z',
 '2023-11-14T10:51:42Z',
 '2023-11-13T12:49:45Z',
 '2023-11-28T03:51:26Z',
 '2023-11-27T15:17:52Z',
 '2023-11-18T00:31:45Z',
 '2023-11-15T01:54:37Z',
 '2023-11-24T22:48:45Z',
 '2023-11-21T02:23:48Z',
 '2023-11-21T17:50:47Z',
 '2023-11-22T06:01:36Z',
 '2023-11-26T01:45:07Z',
 '2023-11-13T16:29:49Z',
 '2023-11-08T12:57:14Z',
 '2023-11-16T01:42:16Z',
 '2023-11-08T15:30:49Z',
 '2023-11-03T18:08:24Z',
 '2023-11-04T15:36:38Z',
 '2023-11-10T01:26:07Z',
 '2023-11-11T17:13:32Z',
 '2023-11-07T17:01:40Z',
 '2023-11-09T17:24:22Z',
 '2023-11-27T11:34:29Z',
 '2023-11-19T18:19:53Z',
 '2023-11-27T13:00:22Z',
 '2023-11-08T21:08:17Z',
 '2023-11-12T10:00:32Z']

In [19]:
[article['content'] for article in all_articles['articles']]

["An Israeli-Canadian peace advocate, feared to have been taken hostage in Gaza, has been confirmed killed.\r\nVivian Silver, 74, lived close to Israel's border with Gaza in kibbutz Be'eri - which was at… [+2634 chars]",
 'One of the men convicted over the 2006 murder of Russian journalist Anna Politkovskaya has been pardoned after fighting in Ukraine, his lawyer says.\r\nSergei Khadzhikurbanov, a former Moscow police of… [+1523 chars]',
 'Eight Palestinians have been killed by Israeli forces in the occupied West Bank in the past 24 hours, according to the Palestinian health ministry.\r\nThe most serious incident was an Israeli raid over… [+1651 chars]',
 "Malawi's President Lazarus Chakwera has suspended with immediate effect all international travel for himself and his government in a bid to save money.\r\nThe measure follows a huge devaluation of the … [+1512 chars]",
 '"If you hear an alarm sounding it means you need to run to the nearest bunker," says Captain Aódhan McGuinness as we arrive at Camp Shamrock. \r\nHe is the tactical operations director for the Irish tr… [+6610 chars]',
 'Chancellor Olaf Scholz says he\'s "ashamed and outraged" at recent antisemitic attacks in Germany. \r\nHe was speaking at an event to mark the anniversary of the November pogroms of 1938, sometimes know… [+4537 chars]',
 "For three days, the US's top diplomat, Antony Blinken, has been dashing around the Middle East, trying to contain a situation that threatens to spin out of control.\r\nIsrael on Friday. Jordan on Satur… [+4842 chars]",
 "Police and protesters clashed outside of the Democratic Party's national headquarters on Wednesday, forcing dozens of lawmakers to be evacuated.\r\nOfficials said the pro-Palestinian organisers calling… [+2395 chars]",
 "The head of the International Red Cross's office in Gaza has told the BBC one of its aid convoys delivering medical supplies to the Al-Quds hospital in southern Gaza was hit, leaving one of their tru… [+896 chars]",
 'Almost day by day, the tone of Israels allies is hardening. \r\nOvernight, the US Secretary of State Antony Blinken called Benny Gantz, a key\r\nmember of Israels war cabinet. He said there was an urgent… [+1419 chars]',
 'The future of what was billed as a game-changing trade agreement between Africa and the US is up for discussion in the South African city of Johannesburg over the next few days, with calls for it to … [+7811 chars]',
 'After camping out for two months in an old school in a small Canadian village, a self-proclaimed "queen" and her entourage have left for a farm nearby, although villagers are worried that they may re… [+3366 chars]',
 "An ecologist is using birds of prey to help Israel's army recover dead bodies at the sites where Hamas attacked on 7 October.\r\nOhad Hatzofe, of Israel's Nature and Parks Authority, tracks the migrato… [+2965 chars]",
 "Media caption, Israeli president challenged on airstrikes and says Mein Kampf found on Hamas fighter\r\nIsraeli President Isaac Herzog has denied that Israel is striking Gaza's largest hospital.\r\nRepor… [+3058 chars]",
 'The lives of 40 Indian labourers, who have been trapped in a tunnel for more than 72 hours, hang in the balance as authorities try to rescue them.\r\nThe workers were building the tunnel in northern Ut… [+3019 chars]',
 "Frank Soo (second from right) waits to shake hands with General Koenig, the French Governor of Paris, before England's 2-2 draw against France at Wembley in 1945\r\nSign up for notifications to the lat… [+10057 chars]",
 'In any warzone, counting the dead is a challenge. Gaza is no different.\r\nAs battles there intensify, the chaotic situation - with bombardment by Israeli forces, on-the-ground fighting, communications… [+9082 chars]',
 'The government is considering whether police need new powers to stop protesters climbing war memorials. \r\nA breakaway group of pro-Palestinian demonstrators scaled the Royal Artillery Memorial in Lon… [+3298 chars]',
 'The police say they are conducting enquiries after a council meeting in Londonderry was disrupted by pro-Palestinian protestors.\r\nThe protestors, some with their faces covered, unveiled a banner sayi… [+2147 chars]',
 'This weekend people throughout Wales will be contemplating the words of World War One poet John McCrae: "In Flanders fields, the poppies blow."\r\nHowever, for many commemorating their Welsh fallen, ne… [+4010 chars]',
 'A Belfast-born man whose wife and other family members were killed in Gaza has said there is no safe passage for his children who remain there.\r\nKhalid El-Estal said he was working in Saudi Arabia wh… [+3701 chars]',
 "Image source, The Telegraph\r\nImage caption, For the second day in a row, the aftermath of Suella Braverman's sacking as home secretary leads many of the front pages. The Telegraph focuses on Mrs Brav… [+2105 chars]",
 'Rachel Reeves has told the BBC that she supports the right to protest, but not the intimidation of MPs.\r\nSpeaking with Laura Kuenssberg, the shadow chancellor was commenting on protests calling for a… [+518 chars]',
 'A war memorial is being guarded by police after protestors daubed it with "Free Palestine" graffiti.\r\nGreater Manchester Police (GMP) said the cenotaph was vandalised in Rochdale just after 16:00 GMT… [+1157 chars]',
 'Counter-terrorism police are warning there could be an increased risk of attacks in the UK because of the Israel-Gaza conflict. \r\nReports to the anti-terror hotline between 7-25 October doubled compa… [+2548 chars]',
 'A bitter row over fuel supplies has erupted between Kenya and its landlocked neighbour Uganda, with the Ugandan leader saying his country is being "cheated" by "parasites" and middlemen.\r\nFor decades… [+5407 chars]',
 'Thousands of people have joined a march in central London in a demonstration against antisemitism.\r\nAt the start of the march, police escorted away English Defence League founder Tommy Robinson - org… [+1804 chars]',
 'A senior Hamas leader has refused to acknowledge that his group killed civilians in Israel, claiming only conscripts were targeted.\r\nMoussa Abu Marzouk told the BBC that "women, children and civilian… [+3832 chars]',
 'The director of the Gaza Strip\'s main hospital raided by Israeli soldiers says the facility has now run out of oxygen and water, and patients "are screaming from thirst".\r\nMuhammad Abu Salmiya said "… [+4506 chars]',
 'One fled Gaza City, one stayed - what became of Farida and Khalid? Video, 00:04:13One fled Gaza City, one stayed - what became of Farida and Khalid?',
 'Some 300,000 protesters calling for a ceasefire in Gaza marched through central London on Saturday, police estimate.\r\nWatch aerial and ground footage of the biggest pro-Palestinian rally in the UK si… [+29 chars]',
 'A history enthusiast has spent two years getting forces veterans to sign a rifle as he records their World War Two stories. \r\nJay Hawkins, 26, was inspired after buying a 1939 Lee-Enfield weapon.\r\nTh… [+3733 chars]',
 'A Liverpool surgeon has said he felt a "big, big relief" when he was reunited with his family in the UK after fleeing Gaza.\r\nDr Abdelkader Hammad, who has spent the past 10 years visiting the area to… [+447 chars]',
 'Young or old. TikTok or X. Pro-Israeli or pro-Palestinian. Your social media feeds are unique to you. Could they be shaping how you view the Israel-Gaza war?\r\nWhen I open up my TikTok feed, two video… [+10873 chars]',
 'Turkey hosts the largest population of refugees and asylum seekers in the world. These include around 3.6 million Syrians, who fled there during the war in their country.\r\nNow many of those Syrian re… [+1162 chars]',
 'Five armed Palestinian groups joined Hamas in the deadly 7 October attack on Israel after training together in military-style exercises from 2020 onwards, BBC News analysis shows.\r\nThe groups carried… [+11653 chars]',
 'Gentlemansgame (left) beat Bravemansgame by a one and three quarter lengths\r\nGentlemansgame beat odds-on favourite Bravemansgame to win the Charlie Hall Chase at Wetherby for Irish trainer Mouse Morr… [+1209 chars]',
 "The call to Mahmoud Shaheen came at dawn.\r\nIt was Thursday 19 October at about 06:30, and Israel had been bombing Gaza for 12 days straight. \r\nHe'd been in his third-floor, three-bedroom flat in al-Z… [+17499 chars]",
 'Petr Cech guested for Belfast Giants in a charity game in April\r\nFormer Chelsea goalkeeper Petr Cech has joined Elite League ice hockey team Belfast Giants in a loan move as temporary netminding cove… [+1311 chars]',
 'A crowd of 50 or 60 people jeer as a Jewish shopkeeper tries to scrub anti-Semitic graffiti off the pavement. \r\nHats and broken glass are strewn all over the road in front of a destroyed Jewish-owned… [+6931 chars]',
 'An FA Council member who wrote on social media that "Adolf Hitler would be proud of Benjamin Netanyahu" has resigned.\r\nWasim Haq was suspended by the FA last week for the post on X, which was subsequ… [+1096 chars]',
 "Armed police officers wave cars off the motorway going from Poland to Germany.\r\nThey're searching for people-smugglers and their desperate cargo.\r\nThis is the German government's latest bid to show i… [+6212 chars]",
 'It is a year since a peace deal was agreed to end the bloody conflict in the Tigray region of Ethiopia, which killed hundreds of thousands. Although the peace has lasted, many people have been unable… [+383 chars]',
 "During the past month of brutal fighting, every day Pope Francis has been calling the priest and parishioners crammed into Gaza City's Holy Family Church to check on them.\r\nHe offers prayers and his … [+5777 chars]",
 "Could the answer to Delhi's pollution problem lie in the clouds?\r\nLast week, as the Indian capital battled days of toxic air, the city's environment minister said that his government was considering … [+6004 chars]",
 "Hospitals and medical facilities have become caught up in intense fighting as Israel presses its offensive against Hamas in Gaza City.\r\nThe focus of attention has been on Al-Shifa, Gaza's largest hos… [+7641 chars]",
 "Gaza's Hamas-run health ministry says 10,022 people, including 4,104 children, have been killed in the territory since Israel's campaign began.\r\nThe BBC's Fergal Keane reports on the children sufferi… [+71 chars]",
 "The second in command of Hezbollah - the powerful Iranian backed militia in Lebanon - has said Israel's killing of civilians in Gaza risks wider war in the Middle East. \r\nSheikh Naim Qassem told the … [+5377 chars]",
 "The territorial dispute between Ethiopia's northern Amhara and Tigray regions will be settled through a referendum, the government says.\r\nThe row has threatened to disrupt the fragile peace following… [+3437 chars]",
 "Former Everton midfielder Leon Osman says Everton 'feel they did all they could'.\r\nEverton Football Club and their supporters have now had a little time to digest the shock news of the Premier League… [+5724 chars]",
 'Ambulances carrying seriously injured Palestinians have crossed from Gaza into Egypt for the first time since the war between Israel and Hamas began.\r\nAt least 320 foreign passport holders have repor… [+4184 chars]',
 'Somalia has joined the East African Community (EAC) in a move intended to boost economic growth in the country following three decades of war.\r\nPresident Hassan Sheikh Mohamud said joining the region… [+1090 chars]',
 'Ramla Ali (right) has nine wins with two stoppages and one defeat since turning pro in 2020\r\nBriton Ramla Ali said she fought with "jelly legs" in her points win over Mexican Julissa Alejandra Guzman… [+1930 chars]',
 'Anwar El Ghazi previously played for Aston Villa and Everton before joining PSV Eindhoven in August 2022\r\nDutch winger Anwar El Ghazi has had his contract terminated by Mainz for a social media post … [+2340 chars]',
 "Wembley's arch has been lit on various occasions, including in 2021 to mark the National Day of Reflection for those who died during the Covid pandemic\r\nWembley's arch will only be lit for football a… [+1987 chars]",
 'The BBCs Mishal Husain is joined by a panel of guests to discuss what happens when the Israel Gaza war ends.On the panel are Jeremy Bowen, BBC International Editor; Daniel Levy, director of the Middl… [+457 chars]',
 'The UN says 2.2 million people in Gaza are suffering from shortages of food, water, medicine, electricity and fuelImage caption: The UN says 2.2 million people in Gaza are suffering from shortages of… [+1475 chars]',
 "The temporary ceasefire deal between Israel and Hamas offers\r\nbreathing space in the ongoing conflict. But it doesn't signal an end to the\r\nhostage crisis - or even the beginning of its end. If anyth… [+1594 chars]",
 'Tyson Fury and Oleksandr Usyk are both undefeated in their pro careers\r\nTyson Fury launched tirade of abuse towards Oleksandr Usyk and pushed his head into the Ukrainian at their face-off before the … [+4765 chars]',
 "Two rebel groups from Sudan's Darfur region say they will fight alongside the army in the country's civil war.\r\nThis comes after the paramilitary Rapid Support Forces (RSF) made major gains in Darfur… [+1442 chars]",
 'The Rafah border crossing between Gaza and Egypt opened on Wednesday to allow a number of civilians to leave Gaza for the first time since the war began on 7 October. \r\nThe crossing has been open and… [+234 chars]',
 'A war veteran has paid out of his own pocket to light up a war memorial for Remembrance events.\r\nJohn Davies, 39, from Aberystwyth, said it was about giving those who had lost their lives the respect… [+3288 chars]',
 'For many Palestinian-Americans living thousands of miles away from Gaza but watching the deadly violence from afar, it\'s more than grief that grips them - it\'s also guilt. \r\n"I think guilt is a feeli… [+5433 chars]',
 'US President Joe Biden has called for a "pause" in the Israel-Hamas conflict in a campaign speech in Minneapolis. \r\nThe president was speaking to a group of about 200 people when a woman interrupted … [+1759 chars]',
 'A Palestinian-American family has managed to flee Gaza after nearly a month trapped in the war-torn enclave, and cross safely into Egypt.\r\nAbood Okal, Wafaa Abuzayda and their one-year-old son, Youse… [+4663 chars]',
 "President Joe Biden's response to the Israel-Hamas war has sparked anger in a state that helped deliver him victory in 2020. Will there be a political cost?\r\nNadia Ayoub is desperately scrolling thro… [+7563 chars]",
 'Police in Montreal are investigating possible hate crimes after two Jewish schools in the city were hit with gunshots overnight.\r\nBullet holes were found on the doors of both schools on Thursday morn… [+2467 chars]',
 'The Israel-Hamas conflict is "taking away the focus" from the war in Ukraine, the country\'s President Volodymyr Zelensky has admitted.\r\nHe said this was "one of the goals" of Russia, which launched a… [+3334 chars]',
 'It is still dark when an early train pulls into the station in central Ukraine and aid workers crowd expectantly around one of the carriages. \r\nThe doors then open and a small child steps into the pl… [+4088 chars]',
 'Prime Minister Benjamin Netanyahu has said Israel will have "overall security responsibility" for the Gaza Strip "for an indefinite period". \r\nMr Netanyahu\'s made his first such comments about Israel… [+2466 chars]',
 'A tanker has delivered fuel to Gaza for the first time since the war between Hamas and Israel began five weeks ago.\r\nA senior UN official said it had received 23,000 litres (5,060 gallons) of fuel vi… [+3515 chars]',
 "The sister of a Russian artist jailed for an anti-war protest has told the BBC that she fears for her sister's life. \r\nAnna Skochilenko, whose sister Sasha Skochilenko was sentenced to seven years in… [+335 chars]",
 'One fled Gaza City, one stayed - what became of Farida and Khalid? Video, 00:04:13One fled Gaza City, one stayed - what became of Farida and Khalid?',
 'No speeches in front of cheering crowds. No joint public appearances between leaders. And a rumoured joint visit to a Germany-Turkey football match in Berlin that is not happening after all. \r\nFor a … [+4312 chars]',
 'Ramla Ali suffered her first defeat against Julissa Alejandra Guzman in June\r\n<table><tr><th>Joe Cordina v Edward Vazquez - IBF super-featherweight title</th></tr>\r\n<tr><td>Venue: Casino de Monte Car… [+3066 chars]',
 "Former Everton midfielder Leon Osman says Everton 'feel they did all they could'.\r\nEverton's 10-point deduction by the Premier League will be discussed in Parliament after a Liverpool MP called the p… [+3024 chars]",
 'Expect fireworks against Pavlovich - Aspinall\r\n<table><tr><th>UFC 295</th><th></th></tr>\r\n<tr><td>Venue: Madison Square Garden, New York Date: Saturday, 11 November</td></tr><tr><td>Coverage: Follow … [+3090 chars]',
 'Katie Taylor suffered her first defeat in May to Chantelle Cameron\r\n<table><tr><th>Chantelle Cameron v Katie Taylor 2</th><th></th></tr>\r\n<tr><td>Venue: 3Arena, Dublin Date: Saturday, 25 November</td… [+3256 chars]',
 'Anwar El Ghazi played over 100 times for Aston Villa between 2018 and 2022\r\nDutch winger Anwar El Ghazi is taking legal action against former club Mainz for wrongful dismissal.\r\n"I don\'t see any stat… [+2580 chars]',
 'The chief executive and chairman of HBO has admitted to tasking staff with creating a fake Twitter account to attack TV critics.\r\nIt comes after Rolling Stone reported that Casey Bloys created a "sec… [+2625 chars]',
 '"Father never spoke to us children about the war, so it wasn\'t until after he died that we realised how important his work had been."\r\nWilliam Cross was not yet born when his father, Capt Victor Cros… [+8480 chars]',
 'Diamonds may be forever, but not when it comes to imports from Russia into the European Union.\r\nRussia is the biggest producer of rough diamonds cut from hundreds of mines beneath the Siberian permaf… [+6048 chars]',
 'Some Irish citizens may be able to leave Gaza on Thursday, the Department of Foreign Affairs (DfA) has said.\r\nHundreds of foreign passport holders have already crossed the Rafah border into Egypt sin… [+1043 chars]',
 'German Defence Minister Boris Pistorius has warned that an EU pledge to provide Ukraine with a million artillery shells by March 2024 will not be met.\r\n"It is safe to assume the one million rounds wi… [+3174 chars]',
 'Hundreds of trade union members have blockaded a factory which manufactures weapons in protest over the Israel-Gaza conflict.\r\nDemonstrators blocked entrances to the BAE Systems site in Rochester, Ke… [+2465 chars]',
 "Ethiopia is abuzz with rumours of a new war - which would be Prime Minister Abiy Ahmed's fourth in five years. \r\nAs well as importing weapons and mobilising his army, Mr Abiy - who was awarded the No… [+8058 chars]",
 "Ralph Fiennes and Indira Varma, two of Britain's most acclaimed actors, are in a warehouse in Liverpool, sitting in the middle of a wasteland of charred trees, giant lumps of blackened rubble and a b… [+6911 chars]",
 "Tyson Fury's fight against Francis Ngannou last Saturday took place in Riyadh, Saudi Arabia\r\nNew research claims to show the extent and scale of Saudi Arabian state investment and involvement in spor… [+6047 chars]",
 'The newly-elected rector of St Andrews University is facing calls to apologise over an email accusing Israel of genocide in Gaza.\r\nStella Maris said Palestinians had suffered "apartheid, siege, illeg… [+3538 chars]',
 'Joe Cordina is undefeated in his pro career with 16 fights and nine stoppages\r\n<table><tr><th>Joe Cordina v Edward Vazquez - IBF super-featherweight title</th></tr>\r\n<tr><td>Venue: Casino de Monte Ca… [+4560 chars]',
 "Hannah Scott says she has suffered at least two to three rib injuries a year since she was 18 years old\r\nHannah Scott has broken so many ribs in her career, she's lost count. \r\nBut the 24-year-old fr… [+5750 chars]",

In [ ]:
all_articles['articles'][0]

{'source': {'id': 'bbc-news', 'name': 'BBC News'},
 'author': 'https://www.facebook.com/bbcnews',
 'title': 'Donald Trump second term: What would he do if he wins?',
 'description': 'If he returns to the White House by winning the 2024 election, he knows what he wants to do with the power.',
 'url': 'https://www.bbc.co.uk/news/world-us-canada-67272569',
 'urlToImage': 'https://ichef.bbci.co.uk/news/1024/branded_news/0F46/production/_131601930_trump_super_promo_2x_976x549-nc.png',
 'publishedAt': '2023-11-03T22:09:06Z',
 'content': 'Donald Trump has devoted much of this presidential campaign looking back, contesting his 2020 election defeat. But behind the scenes, he and his team are putting together a plan for power, determined… [+9732 chars]'}

In [ ]:
import openai

def answers_format():
    return "{'impact' : 'fill this'}"

def generate_recommendation(news, api_key):
    prompt = f"""given this news article\n{news}\n
    based on this news, can you give your opinion how important the news and its impact to the oil prices. give scale 1-10
    Give your answers similar to this format
    {answers_format()}
    """
    openai.api_key = api_key[0]
    openai.api_base = api_key[1]
    openai.api_type = 'azure'
    openai.api_version = '2023-08-01-preview'

    response = openai.Completion.create(
        engine="gpt-pwc",
        prompt=prompt,
        max_tokens=400,
        n=1,
        stop=None,
        temperature=0.15
    )

    recommendation_str = response.choices[0].text.strip()


    return recommendation_str

In [ ]:
import ast

openai_key = ''
openai_api_base = 'https://pwc-azure.openai.azure.com/'
print(f"Original news content: {all_articles['articles'][0]['content']}")
impact = generate_recommendation(all_articles['articles'][0]['content'], [openai_key, openai_api_base])
print(f"Impact: {ast.literal_eval(impact)['impact']}")

Original news content: Donald Trump has devoted much of this presidential campaign looking back, contesting his 2020 election defeat. But behind the scenes, he and his team are putting together a plan for power, determined… [+9732 chars]
Impact: 7

In [48]:
import yfinance as yf


crude = yf.Ticker("CL=F")

eex = crude.history(period='max', interval="1m")
eex

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-11-22 05:28:00-05:00,77.070000,77.089996,77.059998,77.070000,0,0.0,0.0
2023-11-22 05:29:00-05:00,77.059998,77.099998,77.029999,77.089996,73,0.0,0.0
2023-11-22 05:30:00-05:00,77.080002,77.080002,77.029999,77.080002,93,0.0,0.0
2023-11-22 05:31:00-05:00,77.080002,77.099998,77.050003,77.089996,65,0.0,0.0
2023-11-22 05:32:00-05:00,77.089996,77.110001,77.050003,77.099998,73,0.0,0.0
...,...,...,...,...,...,...,...
2023-11-29 05:13:00-05:00,77.120003,77.120003,77.029999,77.059998,270,0.0,0.0
2023-11-29 05:14:00-05:00,77.050003,77.110001,77.050003,77.089996,106,0.0,0.0
2023-11-29 05:15:00-05:00,77.089996,77.139999,77.080002,77.129997,136,0.0,0.0
2023-11-29 05:16:00-05:00,77.129997,77.139999,77.080002,77.089996,106,0.0,0.0
2023-11-29 05:17:00-05:00,77.089996,77.120003,77.089996,77.110001,0,0.0,0.0

In [38]:
dates = eex.index.astype(str).to_numpy()
close_price = eex['Close'].to_numpy()
historical_data = {'date': dates, 
                    'close': close_price}

In [40]:
import pandas as pd

df = pd.DataFrame(historical_data)
df.head()

                        date      close
0  2000-08-23 00:00:00-04:00  32.049999
1  2000-08-24 00:00:00-04:00  31.629999
2  2000-08-25 00:00:00-04:00  32.049999
3  2000-08-28 00:00:00-04:00  32.869999
4  2000-08-29 00:00:00-04:00  32.720001

In [41]:
df.to_csv('oil_price.csv', index=False)

In [50]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.0-cp310-cp310-macosx_10_9_universal2.whl (534 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 534.5/534.5 kB 454.0 kB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 776.4 kB/s eta 0:00:00a 0:00:01
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.0

In [1]:
from etl_module.mongo import *

initialize_history_price()

In [1]:
from etl_module.mongo import *

initialize_history_news()

3
3
3
3
3
500

In [9]:
from datetime import datetime
import pytz

def get_formatted_current_datetime(output_format, target_timezone):
    # Get the current UTC datetime
    current_datetime_utc = datetime.now(pytz.utc)

    # Convert to the target timezone
    target_timezone_obj = pytz.timezone(target_timezone)
    current_datetime_target_tz = current_datetime_utc.astimezone(target_timezone_obj)

    # Format the datetime to the desired output format
    formatted_datetime = current_datetime_target_tz.strftime(output_format)

    return formatted_datetime

# Example usage:
output_format = "%Y-%m-%d %H:%M:%S%z"
target_timezone = "America/Chicago"  # Replace with your target timezone
formatted_current_datetime = get_formatted_current_datetime(output_format, target_timezone)

print(formatted_current_datetime)

2023-11-29 04:49:53-0600